See About for Corey Schafer

In [2]:
# python dictionary - a list, hencce [] inside of each new column (first, last, email)

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@g", "janedoe@g", "johndoe@g"]
}
people

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe'],
 'email': ['CoreyMSchafer@g', 'janedoe@g', 'johndoe@g']}

In [3]:
# get single col also stated as a dict of a list
people['email']

['CoreyMSchafer@g', 'janedoe@g', 'johndoe@g']

In [4]:
# use pandas
import pandas as pd

In [6]:
df = pd.DataFrame(people)
df

   first     last            email
0  Corey  Schafer  CoreyMSchafer@g
1   Jane      Doe        janedoe@g
2   John      Doe        johndoe@g

In [10]:
# similar to people['email'] except w/ more - series.Series (rows of a single col)
type(df['email']), df['email']

(pandas.core.series.Series,
 0    CoreyMSchafer@g
 1          janedoe@g
 2          johndoe@g
 Name: email, dtype: object)

In [11]:
# similar but can encounter probs such as a "count" col and count method from df
df.email

0    CoreyMSchafer@g
1          janedoe@g
2          johndoe@g
Name: email, dtype: object

In [12]:
# multiple cols so ! a Series anymore
df[['last', 'email']]

      last            email
0  Schafer  CoreyMSchafer@g
1      Doe        janedoe@g
2      Doe        johndoe@g

In [13]:
# get all the cols
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
# get a row - Series and ! df
# iloc = integer location
df.iloc[0]

first              Corey
last             Schafer
email    CoreyMSchafer@g
Name: 0, dtype: object

In [16]:
# df and ! Series
df.iloc[[0, 1]]

   first     last            email
0  Corey  Schafer  CoreyMSchafer@g
1   Jane      Doe        janedoe@g

In [17]:
# get 1st two rows and a specific col (the email col)
df.iloc[[0, 1], [2]]

             email
0  CoreyMSchafer@g
1        janedoe@g

In [18]:
df.iloc[[0, 1], 2]

0    CoreyMSchafer@g
1          janedoe@g
Name: email, dtype: object

In [19]:
# loc = label which are the indexes
df.loc[0]

first              Corey
last             Schafer
email    CoreyMSchafer@g
Name: 0, dtype: object

In [21]:
# 1st two rows
df.loc[[0, 1]]

   first     last            email
0  Corey  Schafer  CoreyMSchafer@g
1   Jane      Doe        janedoe@g

In [22]:
# 1st two rows and email col
df.loc[[0, 1], 'email']

0    CoreyMSchafer@g
1          janedoe@g
Name: email, dtype: object

In [23]:
# 1st two rows and last two cols
df.loc[[0, 1], ['email', 'last']]

             email     last
0  CoreyMSchafer@g  Schafer
1        janedoe@g      Doe