# Exploring Dates and Times - Python vs Pandas

1. [Pandas Documentation](https://pandas.pydata.org/docs/)
2. [Python Pandas Tutorial by Corey Schafer](https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)
3. [Python Datetime Formatting Codes](http://bit.ly/python-dt-fmt)
4. [Pandas Date Offset Codes](http://bit.ly/pandas-dt-fmt)
5. [Pandas .day_name() method](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.day_name.html)

# TODOs

1. [x] Imports and Load Data
2. [x] Convert/Ensure its a pd DateTime Object
    1. [x] Verify with running any pd DateTime method on a df
3. [x] Create new column with actual day names using the `.day_name()` method
4. [x] Find the time delta on the "Date" series
5. [ ] Filter by Date

## 1. Imports + Load Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/ETH_1h.csv")
df

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

## 2. Convert/Ensure its a pd DateTime Object

- For proper conversion format, visit [3](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior) above
- In order to use the `.day_name()` method, we must apply the `dt` class, all on a series [5](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.day_name.html) 

---

1. [x] Verify with running any pd DateTime method on a df; here using the `.day_name()` method

In [3]:
df.loc[0, 'Date'].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [4]:
df

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [5]:
df.loc[0:, 'Date'] = pd.to_datetime(df['Date'], format='%Y-%M-%d %I-%p')
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-01-13 20:03:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-01-13 19:03:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-01-13 18:03:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-01-13 17:03:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-01-13 16:03:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-01-01 15:07:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-01-01 14:07:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-01-01 13:07:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-01-01 12:07:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-01-01 11:07:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [6]:
# only for one entry/row
df.loc[0, 'Date'].day_name()

'Monday'

## 3. Create new column with actual day names

In [11]:
# for all entries/rows
df.loc[0:, 'Date'].dt.day_name()

0        Monday
1        Monday
2        Monday
3        Monday
4        Monday
          ...
23669    Sunday
23670    Sunday
23671    Sunday
23672    Sunday
23673    Sunday
Name: Date, Length: 23674, dtype: object

In [12]:
df["Days Name"] = df.loc[0:, 'Date'].dt.day_name()
df

,Date,Symbol,Open,High,Low,Close,Volume,Days Name
0,2020-01-13 20:03:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Monday
1,2020-01-13 19:03:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Monday
2,2020-01-13 18:03:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Monday
3,2020-01-13 17:03:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Monday
4,2020-01-13 16:03:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Monday
...,...,...,...,...,...,...,...,...
23669,2017-01-01 15:07:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Sunday
23670,2017-01-01 14:07:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Sunday
23671,2017-01-01 13:07:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Sunday
23672,2017-01-01 12:07:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Sunday
23673,2017-01-01 11:07:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Sunday

## 4. Find the time delta on the "Date" series 

- Use `max()` - `min()`

In [13]:
df["Date"].max()

Timestamp('2020-01-31 23:01:00')

In [14]:
df["Date"].min()

Timestamp('2017-01-01 00:08:00')

In [15]:
time_delta = df["Date"].max() - df["Date"].min()
time_delta

Timedelta('1125 days 22:53:00')